.todolist {
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
  color: white;
  background-color: black;
}

.title {
  padding-top: 10%;
  font-size: 5em;
  text-shadow: 8px 8px blue;
}

.line {
  border-top: 5px solid white;
}

.btn {
  background: transparent;
  color: white;
  border-radius: 30px;
  margin-left: 20px;
  padding: 0 15px;
  border: none;
}
.btn:hover {
  background: white;
  color: black;
  border: none;
}

.plan {
  background: black;
  color: white;
  border: none;
  border-radius: 30px;
}

.plan:hover,
.plan:active {
  background: white;
  color: black;
  border: none;
}

.done {
  background: aqua;
  border-radius: 30px;
  transition: 0.5s;
  width: 100px;
  margin-left: 20px;
  border: none;
}

.ongoing {
  background: gray;
  transition: 0.5s;
  width: 100px;
  margin-left: 20px;
  border-radius: 30px;
  border: none;
}
